<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"> </script>
</head>

<body>
    <h1>CONTACT US</h1>
     
    <header>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
    </header>
    <br><br>

    <p>Welcome to MyWebsite!
We’re a small team passionate about creating simple, clean, and useful web experiences.
Our goal is to share knowledge, ideas, and projects that inspire and help others learn and grow online.
Thank you for visiting and supporting our journey!</p>

<button onclick="show()">click me</button>
<p id="demo"></p>
</body>
</html>